@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;400;600;900&display=swap");
//font-family: 'Dela Gothic One', cursive;
//font-family: 'Roboto Flex', sans-serif;
:root {
  /* ### Primary */
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  /* ### Neutral */
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  .custom-shape-divider-top-1685909676 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1685909676 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
  }

  .custom-shape-divider-top-1685909676 .shape-fill {
    fill: #ffffff;
  }
  section {
    position: relative;
  }
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  font-family: "Dela Gothic One", cursive;
  header {
    .navbar {
      #scrambletext {
        width: 300px;
      }
      a {
        color: white;
        &:hover {
          color: #d0f2e7;
        }
      }
    }
  }
  .main_hero-section {
    height: 100%;
    .container-fluid {
      height: 94vh;
      display: flex;
      align-items: flex-end;
      h1 {
        color: white;
      }
    }
  }
  .main_about-us {
    background-color: white;
    min-height: 500px;
    .col {
      span {
        color: #333;
      }
    }
    .col-lg-6 {
      h5 {
        font-family: "Roboto Flex", sans-serif;
        letter-spacing: 5px;
      }
      span {
        color: #b10d09;
      }
      p {
        font-family: "Roboto Flex", sans-serif;
      }
      color: #333;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .main_about-us-black {
    background-color: #333;
    opacity: 0.9;
    min-height: 400px;
    .col-lg-6 {
      h4,
      h3 {
        color: #b10d09;
        font-size: 3em;
        font-family: "Roboto Flex", sans-serif;
        font-weight: bolder;
        letter-spacing: 7px;
      }
      p {
        font-family: "Roboto Flex", sans-serif;
      }
      color: whitesmoke;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .hero__works {
    font-family: "Roboto Flex", sans-serif;

    background-color: white;
    min-height: 600px;
    .col-md-4 {
      img {
        border-radius: 50px;
        box-shadow: 2px 2px 10px 1px #333;
      }
    }
    .col-md-12 {
      text-align: center;
      h2 {
        font-weight: 900;
        color: #333;
        opacity: 0.6;
      }
      h6 {
        color: #333;
        opacity: 0.9;
        letter-spacing: 15px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .hero__form {
    padding: 2px;
    color: #d0f2e7;
  }
  footer {
    margin: 100px 0 0 0;
    img {
      width: 12rem;
      height: auto;
    }
  }
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.fill {
  fill: #ed6866;
}
.navbar-toggler {
  border: 2px solid white;
}

//ADVICE STYLES
.advice {
  @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

  /* - Mobile: 375px
  - Desktop: 1440px */
  /* - Font size (quote): 28px */

  p {
    color: var(--Neon-Green);
    font-size: 10px;
    letter-spacing: 3px;
    margin-top: 20px;
    opacity: 0.7;
  }

  h1 {
    font-size: 28px;
    color: var(--Light-Cyan);
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    background: var(--Dark-Grayish-Blue);
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 8px 1px var(--Dark-Blue);
  }

  .advice-text {
    padding: 30px 15px;
  }

  i {
    font-size: 1rem;
  }

  .divider {
    padding: 0 0 30px;
    width: 80%;
  }

  .mainBtn {
    background: var(--Neon-Green);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 15px;
    margin: 0 auto -50px;
    border: 0;
  }

  .mainBtn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px 2px var(--Neon-Green);
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  footer {
    color: white;
    margin-top: 120px;
  }

  .attribution a {
    color: var(--Neon-Green);
  }

  @media only screen and (max-width: 375px) {
    .container {
      max-width: 90%;
    }

    .card {
      width: 100%;
    }

    .divider {
      content: url(images/pattern-divider-mobile.svg);
    }
  }
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 5px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  color: #fff;
  background-color: #25d370;
}

.my-float {
  margin-top: 16px;
}

a:hover {
  color: #3b625f;
}
